$gray: #DCDCDC;

body {
    background: $gray;
    margin: 0;

    .wrong-pass, .please-enter {
        color: red;
    }

    .main-body {
        .logo-container {
            width: 360px;
            height: 220px;
            border: 10px solid #005590;
            margin: 30px auto 0;
            text-align: center;

            img {
                height: 200px;
            }

        }

        .login-section {
            max-width: 500px;
            margin: 30px auto 0;
            border: 2px solid #808080;
            padding: 30px;
        }

        .btn-container {
            width: 410px;
            margin: 100px auto 0;

            a {
                width: 200px;
            }
        }
    }
}