body {
  background: #e6ecf0;
  margin: 0; }
  body .wrong-pass,
  body .please-enter {
    color: red; }
  body .main-body .logo-container {
    width: 360px;
    height: 220px;
    border: 10px solid #00559045;
    margin: 30px auto 0;
    text-align: center; }
    body .main-body .logo-container img {
      height: 200px; }
  body .main-body .login-section {
    max-width: 500px;
    margin: 30px auto 0;
    border: 2px solid #808080;
    padding: 30px; }
  body .main-body .btn-container {
    width: 410px;
    margin: 100px auto 0; }
    body .main-body .btn-container a {
      width: 200px; }
  body .main-body .new-post-container {
    width: 900px;
    height: 235px;
    border: 1px solid #aeb7bd;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px; }
    body .main-body .new-post-container .message-container {
      margin: 20px auto;
      width: 700px;
      position: relative; }
      body .main-body .new-post-container .message-container .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden; }
        body .main-body .new-post-container .message-container .avatar img {
          height: 30px; }
      body .main-body .new-post-container .message-container textarea {
        border: none;
        border-radius: 6px;
        padding: 12px 20px;
        box-sizing: border-box;
        background: #f5f8fa;
        resize: none; }
      body .main-body .new-post-container .message-container a.btn.btn-primary.btn-lg.active {
        position: absolute;
        right: 0;
        top: -15px;
        background-color: #1ca1f2 !important;
        border-color: #1ca1f2 !important; }
  body .main-body .all-tweets {
    width: 1080px;
    margin: 20px auto;
    border: 1px solid #aeb7bd;
    border-radius: 5px;
    min-height: 300px; }
    body .main-body .all-tweets ul li {
      list-style: none; }
