body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  background: #e6ecf0;
  margin: 0;
  zoom: 75%; }
  body .wrong-pass,
  body .please-enter {
    color: red; }
  body .main-body .logo-container {
    width: 360px;
    height: 220px;
    border: 10px solid #00559045;
    margin: 30px auto 0;
    text-align: center; }
    body .main-body .logo-container img {
      height: 200px; }
  body .main-body .login-section {
    max-width: 500px;
    margin: 30px auto 0;
    border: 2px solid #808080;
    padding: 30px; }
  body .main-body .btn-container {
    width: 410px;
    margin: 100px auto 0; }
    body .main-body .btn-container a {
      width: 200px; }
  body .main-body .new-post-container {
    height: 235px;
    border: 1px solid #aeb7bd;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px; }
    body .main-body .new-post-container .message-container {
      margin: 20px auto;
      width: 700px;
      position: relative; }
      body .main-body .new-post-container .message-container .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden; }
        body .main-body .new-post-container .message-container .avatar img {
          height: 30px; }
      body .main-body .new-post-container .message-container textarea {
        border: none;
        border-radius: 6px;
        padding: 12px 20px;
        box-sizing: border-box;
        background: #f5f8fa;
        resize: none; }
      body .main-body .new-post-container .message-container a.tweet-btn {
        position: absolute;
        right: 40px;
        top: -15px;
        background-color: #1ca1f2 !important;
        border-color: #1ca1f2 !important;
        cursor: pointer; }
  body .main-body .all-tweets {
    width: 800px;
    margin: 20px auto;
    border: 1px solid #aeb7bd;
    border-radius: 5px;
    overflow: hidden; }
    body .main-body .all-tweets .btn-contaiber {
      margin: auto; }
      body .main-body .all-tweets .btn-contaiber div.btn-group {
        width: 100%; }
        body .main-body .all-tweets .btn-contaiber div.btn-group input {
          border-color: #0e94f1;
          border-width: 0 0 1px 0;
          border-radius: 0; }
    body .main-body .all-tweets ul#tweeted {
      padding: 0px 0 0 0;
      margin: 0;
      max-width: 100%;
      background: #fff;
      border-radius: 3px;
      min-height: 50px; }
      body .main-body .all-tweets ul#tweeted li {
        list-style: none;
        border-bottom: 1px solid #b2c6d6;
        padding-top: 10px;
        margin: 0; }
        body .main-body .all-tweets ul#tweeted li .avatar {
          margin-top: 1px; }
          body .main-body .all-tweets ul#tweeted li .avatar .inner-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            padding-left: 0 !important; }
            body .main-body .all-tweets ul#tweeted li .avatar .inner-avatar img {
              height: 30px; }
        body .main-body .all-tweets ul#tweeted li .user-name {
          padding-left: 0; }
          body .main-body .all-tweets ul#tweeted li .user-name span {
            color: #9aa2aa;
            font-style: italic; }
          body .main-body .all-tweets ul#tweeted li .user-name p {
            padding-left: 0; }
      body .main-body .all-tweets ul#tweeted :last-child {
        border-bottom: 0; }
  body .main-body .container {
    max-width: 720px; }
  body .main-body .clear-btn-container {
    width: 1080px;
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .main-body .clear-btn-container a.clear-btn {
      background: black !important;
      cursor: pointer;
      width: 300px; }
